.wrapper {
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;

}

.logo {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 24px;
}

.menu {
    list-style: none;
    display: flex;


}

.link {
    display: inline-block;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.link.active {
    color: rgb(228, 113, 19);

}